* {
  box-sizing: border-box;
}

* {
  font-family: 'Lato', sans-serif;
  color: #0c6d3d;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    width: 100% * $i / 12;
    padding: 5px;
    margin: 0;
    clear: both;
  }
}

.separator {
  border-top: 1px solid green;
}

.grid__item {
  img {
    min-height: 100%;
    margin: 0 auto;
    display: block;
  }
}

.grid__item__link {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 1em;
}

.title h2 {
  font-size: 1.25em;
  margin: 0;
}

.header__logo img {
  max-height: 3.25em;
}

.header__slug-container {
  text-align: right;

  .header__slug-container__name {
    font-size: 1.75em;
    padding: 0;
    margin: 0;
  }
  .header__slug-container__header__slug {
    font-size: 0.75em;
    padding: 0;
    margin: 0;
  }
}
