@media screen and (min-width: 600px) {
  .title h2 {
    font-size: 2em;
  }

  .header__logo img {
    max-height: 6.5em;
  }

  .header__slug-container {

    .header__slug-container__name {
      font-size: 4em;
    }
    .header__slug-container__header__slug {
      font-size: 1.5em;
    }
  }
}
