@media screen and (min-width: 600px) {

  .title h2 {
    font-size: 3em;
  }

  .header__logo img {
    max-height: 6.5em;
  }

  .slug__author {
    font-size: 4em;
  }

  .slug__title {
    font-size: 1.5em;
  }

  .row {
    margin-bottom: 1.5em;
  }

}
