$green: #008000;
$theme-color: #0c6d3d;

* {
  box-sizing: border-box;
  color: $theme-color;
  font-family: "Lato", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  font-size: 1.2em;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.75em;
  width: 100%;
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    clear: both;
    margin: 0;
    padding: 5px;
    width: 100% * $i / 12;
  }
}

.separator {
  border-top: 1px solid $green;
}

.grid-item-img {
  display: block;
  margin: 0 auto;
  min-height: 100%;
}

.grid-item-link {
  display: inline-block;
  font-size: 1em;
  padding-top: 0.5em;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.title h2 {
  font-size: 1.5em;
  margin: 0;
}

.header-logo img {
  max-height: 3.25em;
}

.slug-author {
  font-size: 1.75em;
  margin: 0;
  padding: 0;
}

.slug-title {
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}

.slug {
  text-align: right;
}
